/* __________________________________________________reset css */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* __________________________________________________my styles */

:root {
	--color-grey: #c1c1c1;
	--color-blue: #135ec4;
	--color-dark: #131210;
	--font-montserrat: "Montserrat";
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}

.float-right {
	float: right;
}

/* __________________________________________________header */

header {
	width: 100%;
	background-color: var(--color-dark);
}

.header-container {
	width: 98%;
	max-width: 1800px;
	margin: 0 auto;
	padding-top: 56px;
	color: #fff;
}
  
.header-container::after{
	content: '';
	clear: both;
	display: table;
}

#logo {
	float: left;
}

.contacts {
	margin-top: 15px;
	margin-right: 47px;
	float: right;
}

.contacts::after {
	content: '';
	clear: both;
	display: table;
}

.contacts > img {
	float: left;
	margin-right: 18px;
}

.contacts > p {
	display: block;
	line-height: 26px;
	float: left;
}

.btn {
	border: none;
	outline: none;
	color: #fff;
	background-color: var(--color-blue);
	padding: 15px 33px;
	border-radius: 30px/30px;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
}  

.btn-white {
	color: var(--color-blue);
	background-color: white;
}

#login-btn {
	float: right;
}

/* __________________________________________________section1 */

#section-1 {
	width: 100%;
	padding-top: 193px;
	padding-bottom: 120px;
	background-color: var(--color-dark);
	background-image: url('img/first-bcg-text.png');
	background-repeat: no-repeat;
	background-position: center top;
}

#section-1::after {
	content: '';
	clear: both;
	display: table;
}

#section-1 > img {
	display: block;
	margin: 0 auto;
}

h1 {
	font-size: 18px;
	margin-top: 85px;
	margin-bottom: 53px;
	font-family: var(--font-montserrat);
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-align: center;
}

.search {
	width: 85%;
	max-width: 1530px;
	margin: 0 auto;
}

.form-search-1{
	position: relative;
	float: left;
	width: 85%;
}

.form-search-1::after {
	content: '';
	clear: both;
	display: table;
}

.form-search-1 label {
	color: #fff;
	font-size: 30px;
	font-family: var(--font-montserrat);
	font-weight: bold;
	color: #3d3d3d;
}

.form-container{
	float: left;
	margin-right: 3%;
	width: 30%;
}

.form-container input{
	width: 100%;
	background-color: var(--color-dark);
	color: #fff;
	border: none;
	outline: none;
	border-bottom: 1px solid #fff;
}
  
/* __________________________________________________section car logos */
  
#car-logos {
	width: 100%;
	padding-top: 59px;
}

#car-logos > h3 {
	font-size: 18px;
	color: var(--color-grey);
	text-align: center;
}

.car-logos-block {
	width: 98%;
	max-width: 1800px;
	margin: 0 auto;
	padding-top: 68px;
}

.car-logos-block::after {
	content: '';
	clear: both;
	display: table;
}

.car-logos-wrapper {
	width: 14.28%;
	height: 71px;
	float: left;
	position: relative;
}

.car-logos-wrapper > img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: .3;
	cursor: pointer;
}

.car-logos-wrapper > img:hover {
	opacity: 1;
}

/* __________________________________________________section 3 */

#section-3 {
	width: 100%;
}

.section-3-width {
	width: 98%;
	max-width: 1800px;
	margin: 0 auto;
	padding-bottom: 160px;
	position: relative;
}

.section-3-width::after {
	content: '';
	clear: both;
	display: table;
}

.section-3-left {
	width: 50%;
	height: 100%;
	float: left;
	padding-top: 256px;
	background-image: url('img/third-bcg-text.png');
	background-repeat: no-repeat;
	background-position: center 60%;
}

.section-3-left > img {
	display: block;
	margin: 0 auto;
}

.section-3-right {
	min-height: 50px;
	width: 50%;
	padding-top: 239px;
	float: left;
}

.section-3-right h3 {
	font-size: 60px;
	color: var(--color-blue);
	font-family: "Montserrat";
	font-weight: bold;
	margin-bottom: 64px;
}

.section-3-right p {
	font-size: 16px;
	color: var(--color-grey);
	line-height: 3;
	margin-bottom: 64px;
}

/* __________________________________________________section 3 */

.section-add {
	width: 100%;
	padding-top: 145px;
	padding-bottom: 164px;
	background: linear-gradient(180deg, var(--color-blue) 0%, var(--color-blue) 67.5%, #fff 67.5%, #fff 100%);
}

.section-add h3 {
	font-size: 60px;
	font-family: "Montserrat";
	font-weight: bold;
	margin-bottom: 74px;
	color: #fff;
	text-align: center;
}

.section-add .btn {
	border: 2px solid #fff;
	display: block;
	margin: 0 auto;
	margin-bottom: 69px;
}

.section-add img {
	display: block;
	margin: 0 auto;
}

/* __________________________________________________section 'cards' */

.section-cards {
	width: 100%;
}

.cards-container {
	width: 1614px;
	margin: 0 auto;
	margin-bottom: 152px;
	position: relative;
	overflow: auto;
}

.cards-container::after {
	content: '';
	clear: both;
	display: table;
}

.small-card {
	width: 450px;
	height: 568px;
	padding-top: 38px;
	margin-top: 75px;
	color: #d0cfcf;
	box-sizing: border-box;
	float: left;
	background: linear-gradient(180deg, var(--color-blue) 0%, var(--color-blue) 34%, #fff 34%, #fff 100%);
	box-shadow:0px 0px 6px rgba(0, 0, 0, 0.2) ;
	position: relative;
	overflow: hidden;
	text-align: center;
}

.btn-small {
	width: 80px;
	height: 27px;
	border: none;
	outline: none;
	border-radius: 30px/30px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #fff;
	color: var(--color-blue);
	position: absolute;
	top: 28px;
	right: 24px;
}

.bg-text-sm-card {
	font-size: 140px;
	font-family: "Montserrat";
	font-weight: bold;
	text-transform: uppercase;
	color: var(--color-blue);
	text-shadow: 0px 0px 55px rgba(0, 0, 0, 0.1);
}

.small-card img {
	display: block;
	margin: 0 auto;
	position: relative;
	top: -50px;
	z-index: 10;
}

.card-title {
	font-size: 30px;
	margin-bottom: 19px;
	font-family: "Montserrat";
	color: rgb(0, 0, 0);
	font-weight: bold;
}

.card-subtitle {
	font-size: 14px;
	margin-bottom: 38px;
	font-family: "Montserrat";
	color: var(--color-blue);
	font-weight: bold;
}

.card-price {
	display: block;
	font-size: 30px;
	font-family: "Montserrat";
	color: rgb(22, 173, 44);
	margin-top: 30px;
	margin-left: 49px;
	font-weight: bold;
	line-height: 2.408;
	float: left;
}
  
.btn-grey {
	float: right;
	margin-top: 41px;
	margin-right: 49px;
	background-color: #d0cfcf;
}
  
.big-card {
	width: 950px;
	height: 683px;
	padding-left: 57px;
	padding-top: 20px;
	float: right;
	position: relative;
	box-sizing: border-box;
	box-shadow:0px 0px 6px rgba(0, 0, 0, 0.2) ;
	background: linear-gradient(90deg, #fff  0%, #fff 54%, var(--color-blue) 54%, var(--color-blue) 100%);
}

.big-card-top-text {
	float: left;
	margin-top: 54px;
	font-family: var(--font-montserrat);
	color: var(--color-grey);
	font-weight: bold;
}

.big-card .card-price {
	margin-top: 20px;
	margin-bottom: 135px;
	margin-left: 274px;
	float: none;
}
  
.big-card h3 {
	font-size: 30px;
	margin-bottom: 49px;
	font-family: var(--font-montserrat);
	font-weight: bold;
	color: var(--color-blue);

}

.big-card-description {
	display: block;
	width: 330px;
	float: none;
	font-size: 16px;
	color: var(--color-grey);
	line-height: 3;
	margin-bottom: 70px;
}

.big-card img {
	position: absolute;
	top: 161px;
	right: 0;
}
  
/* __________________________________________________footer */

footer {
	max-width: 1460px;
	margin: 0 auto;
	margin-bottom: 170px;
	padding-top: 100px;
	box-shadow:0px 0px 6px rgba(0, 0, 0, 0.2) ;
}

footer hr {
	width: 100%;
	float: none;
	margin-bottom: 47px;
	opacity: .5;
}

.car-logos-block2 {
	width: 100%;
	margin-bottom: 100px;	
}

.advansed-title {
	background-color: var(--color-blue);
	color: #fff;
	display: block;
	padding-top: 12px;
	width: 195px;
	height: 31px;
	margin: 0 auto;
	border-radius: 25px 25px 0 0;
}
 
.advansed-title p {
	display: block;
	text-align: center;
	font-weight: bold;
}

.advansed {
	width: 100%;
	padding-top: 70px;
	padding-bottom: 56px;
	background-color: var(--color-blue);
}

.advansed > .btn {
	display: block;
	margin: 0 auto;
}

.form-search-2{
	position: relative;
	width: 95%;
	padding-left: 4%;
	margin-bottom: 71px;
}

.form-search-2::after {
	content: '';
	clear: both;
	display: table;
}

.form-search-2 label {
	color: #fff;
	font-size: 18px;
	font-family: var(--font-montserrat);
	font-weight: bold;
	color: var(--color-grey);
}

.form-search-2 input {
	background-color: #fff;
	border-bottom: 1px solid var(--color-grey);
	color: black;
}

.form-search-2 .form-container{
	float: left;
	margin-right: 2%;
	width: 22.5%;
}

.form-search-2-blue input{
	background-color: var(--color-blue);
	color: white;
}

.location-ic {
	position: relative;
}

.location-ic::after {
	content: url('img/location-icon.png');
	position: absolute;
	top: 0;
	right: 0;
}


@media (max-width: 1800px) {
	#section-1  {
		background-size: 80%;
		padding-top: 11vw;
	}

	#section-1 > img {
		width: 45%;
	}

	h1 {
		margin-top: 5vw;
	}

	.section-3-left{
		background-size: 86%;
		background-position: center, center;
		padding-top: 14vw;
		position: relative;
		top: 50%;
	}

	.section-3-right{
		padding-top: 14vw;
	}

	.section-3-left > img {
		width: 59%;
	}

	.cards-container{
		width: 90%;
	}

	footer {
		width: 90%;
	}
}

@media (max-width: 1600px) {
	.cards-container {
		width: 100%;
	}

	.big-card {
		float: none;
		margin: 0 auto;
		margin-bottom: 100px;
	}

	.small-card {
		float: none;
		margin: 0 auto;
	}
}

@media (max-width: 1280px){
	.section-add img {
		width: 50%;
	}
	
	.big-card {
		width: 95%;
	}

	.big-card img {
		width: 50%;
	} 
}